p {
    font-size: 40px;
    font-family: 'Gamja Flower', cursive;
    font-family: 'Gothic A1', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Song Myung', serif;
    color:gray;
}